{% extends 'admin/base.html' %}
{% from 'admin/incl.html' import field_with_errors %}
{% block content %}
	<form method="post" action="">
		{% for field in form %}
			{{ field_with_errors(field) }}
		{% endfor %}		
		<div style="padding:10px 0 10px 150px;border-bottom:1px solid #333">
			{% if edit_key %}
				<input type="hidden" value="{{ edit_key }}" name="edit_key" />
				<input type="submit" value="Save" name="save_button" />
			{% else %}
				<input type="submit" value="Create" name="create_button" />
			{% endif %}
		</div>
	</form>
{% endblock %}
